@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500&display=swap');

*,
*::after,
*::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 80vw;
    margin: auto;
}

a {
    display: block;
    color: var(--anchor-text);
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

button,
input {
    border: none;
    background: none;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --gray-blue: hsl(219, 9%, 45%);
    --gray: #ccc;
    --light-blue: hsl(220, 14%, 75%);
    --light-gray: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: rgba(0, 0, 0, 0.75);
    --anchor-text: #333;
}

//nav

nav {
    border-bottom: 1px solid var(--gray);
    // width: 100%;
    // overflow: hidden;
    // position: relative;


    .mobile-nav,
    .mobile-close {
        display: none;
    }



    & div a {


        color: var(--gray-blue);
        width: fit-content;
        position: relative;
        line-height: 8vh;

        &:hover {
            color: var(--anchor-text);

            svg {
                fill: var(--anchor-text);
            }
        }


        &:not(:last-child) {
            margin-right: 4rem;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 4px;
            width: 0;
            background: var(--orange);
            bottom: 0;
        }

        &:hover::after {
            width: 100%;
            transition: .4s;
        }

    }

    .icons {

        a:last-child {
            &::after {
                content: none;
            }

            :hover {
                border: 2px solid var(--orange);
                transition: .2s;
            }

            img {
                border-radius: 50%;
                width: 2.5rem;
                display: block;

            }
        }

    }

    .cart-icon {
        position: relative;

        &.active::after {
            content: attr(data-content);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: var(--white);
            font-size: .8rem;
            padding: 0.5rem 0.8rem;
            width: 1.5rem;
            height: 0.8rem;
            border-radius: 100vh;
            background: var(--orange);
            left: 80%;
            top: 30%;
        }
    }


}

// cart popup
.cart {
    display: none;

    &.active {
        display: block;
    }

    background: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: absolute;
    top: 7vh;
    right: 10vh;
    width: 360px;
    height: 250px;
    border-radius: 10px;
    padding: 1rem;
    z-index: 100;


    span.title {
        display: block;
        border-bottom: 1px solid var(--gray);
        padding: 1rem 0;
        font-size: 1.2rem;
    }


    .cart-info {
        padding: 1rem 0;




        & img:first-child {
            width: 4rem;
            border-radius: 10px;
        }

        & img:last-child {
            width: 1rem;
            cursor: pointer;
        }

        .title {
            flex: 1;
        }

        .info {
            line-height: 2;

            & span span {
                font-weight: bold;
            }

        }

    }

    button {
        background: var(--orange);
        padding: 1.2rem 0;
        color: var(--white);
        width: 100%;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

}

//product img display on screen

.display {
    position: relative;

    img {
        border-radius: 15px;
        cursor: pointer;
    }

    img.product {
        max-width: 100%;
        height: auto;
        margin-bottom: 2rem;
        // position: relative;
    }


    .prev-next {
        cursor: pointer;
        width: 2rem;
        height: 2rem;


        .prev,
        .next {
            position: absolute;
            top: 50%;
            background: var(--white);
            padding: 1rem 1.2rem;
            border-radius: 50%;


            &:hover svg path {
                stroke: var(--orange);
            }

            &:first-child {
                left: 0;
                transform: translate(50%, -50%);
            }

            &:last-child {
                right: 0;
                transform:
                    translate(-50%, -50%);
            }
        }


        display: none;

    }

    .thumbnail {
        width: 100%;

        img {
            width: 20%;

            &:hover {
                opacity: .7;
                transition: .2s linear;
            }



            &.active {
                opacity: 0.5;
                border: 3px solid var(--orange);
            }
        }
    }
}

// img display popup on click
.popup {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    // display: grid;
    // place-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black);


    .popup-wrapper {
        position: relative;


        img {
            border-radius: 15px;
            cursor: pointer;
        }

        img.product {
            max-width: 80vw;
            height: 40vh;
            margin: 2rem 0;
        }


        .prev-next {
            cursor: pointer;
            width: 2rem;
            height: 2rem;


            .prev,
            .next {
                position: absolute;
                top: 50%;
                background: var(--white);
                padding: 1rem 1.2rem;
                border-radius: 50%;

                &:hover svg path {
                    stroke: var(--orange);
                }

                &:first-child {
                    left: 0;
                    transform: translate(-50%, -50%);
                }

                &:last-child {
                    right: 0;
                    transform:
                        translate(50%, -50%);
                }
            }

            display: block;

        }

        .thumbnail {

            img {
                width: 100px;

                &:hover {
                    opacity: .7;
                    transition: .2s linear;
                }



                &.active {
                    opacity: 0.5;
                    border: 3px solid var(--orange);
                }
            }
        }

        .close {
            text-align: right;
            cursor: pointer;


            svg {
                transform: scale(1.5);
                align-items: flex-end;

                :hover {
                    fill: var(--orange);
                }
            }
        }
    }

    display: none;

    &.active {
        display: flex;
    }
}


// product container
.product-container {
    width: 80vw;
    // overflow: hidden;
    padding: 8rem 2rem;

    .product-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
        place-items: center;
    }


    .product-info {

        &>p:first-child {
            text-transform: uppercase;
            font-weight: bolder;
            color: var(--orange);
            letter-spacing: .3rem;
        }

        h2 {
            font-size: 3rem;
            margin: 2rem 0;
        }

        & p:nth-of-type(2) {
            color: var(--gray-blue);
            line-height: 1.8;
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }

        .price {
            width: 15rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center start;
            margin-bottom: 2rem;


            p:first-of-type {
                color: var(--Black);
                line-height: 1.8;
                font-size: 1.8rem;
                font-weight: bold;
                display: inline-block;
            }

            span {
                color: var(--orange);
                padding: .5rem .7rem;
                background: var(--pale-orange);
                font-weight: bold;
                border-radius: 15px;
            }

            p:last-of-type {
                color: var(--light-blue);
                font-weight: bold;
                text-decoration: line-through;
            }
        }
    }

    .atc {
        &.flex {
            justify-content: flex-start;
        }

        .quan {
            background: var(--light-gray);
            // padding: 1rem;
            border-radius: 15px;
            // width: 8rem;
            margin-right: 4rem;
            cursor: pointer;

            img {
                padding: 1rem;
            }

            input {
                font-weight: bold;
                font-size: 1rem;
                padding: 1rem;
                text-align: center;
                width: 5rem;
            }

            &:hover {
                opacity: .7;
            }
        }

        button {
            background: var(--orange);
            color: var(--white);
            padding: 1rem 5rem;
            font-weight: bold;
            border-radius: 15px;
            font-size: 1rem;
            width: max-content;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

            svg {
                margin-right: 1rem;
                pointer-events: none;
            }

            &:hover {
                opacity: .7;
            }
        }
    }
}

@media screen and (max-width:600px) {
    body {
        width: 100vw;
    }

    nav {
        border-bottom: none;
        padding: 1rem;

        &.flex {
            justify-content: space-between;
        }

        .mobile-nav,
        .mobile-close {
            display: block;
        }

        & div a::after {
            content: none;
        }

        .links {
            position: absolute;
            left: 0;
            top: 0;
            width: 70vw;
            height: 0vh;
            padding: 1rem 5vw;

            a {
                color: var(--anchor-text);
                font-weight: bold;
                font-size: 1.5rem;
                padding: 1.5rem 0;

                :hover {
                    opacity: .7;
                }
            }

            &.flex {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background: var(--white);
                z-index: 10;

            }

            display: none;

            &.active {
                display: flex;
                height: 100vh;

                a:not(:first-child) {
                    animation: width .8s linear;

                    @keyframes width {
                        from {
                            transform: translateY(100%);
                        }

                        to {
                            transform: translateY(0);
                        }
                    }

                }
            }
        }

        & div a {
            line-height: 1;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        .icons {
            a:last-child {
                img {
                    width: 2rem;
                }
            }
        }

    }

    .cart {
        top: 6%;
        right: 10%;
        max-width: 90vw;
        margin: auto;

    }

    .product-container {
        padding: 0rem;
        width: 100vw;

        .product-wrapper {
            grid-template-columns: 1fr;
        }

        .product-info {
            padding: 1rem;

            .atc.flex {
                flex-direction: column;

                .quan,
                button {
                    width: 100%;
                    margin: 1rem auto;
                }

                button.flex {
                    justify-content: center;
                }
            }
        }
    }

    .display {

        .img.product {
            width: 100vw;
        }

        img {
            border-radius: 0;
        }

        .prev-next {

            display: block;
            z-index: 10;

        }

        .thumbnail {
            overflow-x: scroll;
            width: 100vw;

        }
    }

    .popup {
        .thumbnail {
            overflow-x: scroll;
            max-width: 80vw;

            .flex {
                flex-shrink: 1;
            }
        }
    }
}
